@page "{id?}"
@model EmployeesModel
@section scripts {
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $(document).ready(function () {
            if ($('.field-validation-error').length || $('.validation-summary-errors').length) {
                $('#EmployeeModal').modal('show');
                var id = document.getElementById('id').value;
                if (id > 0) {
                    document.querySelector(".modal-title").innerHTML = "Edit Details";
                    document.getElementById("delete").style.visibility = "visible";

                } else {
                    document.querySelector(".modal-title").innerHTML = "New Employee";
                    document.getElementById("delete").style.visibility = "hidden";

                }
            }
        });

        $(document).on("click", ".Open-Employee-Dialog", function (e) {
            e.preventDefault();
            var _self = $(this);
            var id = _self.data('employee').id;
            $("#id").val(id);

            $(".validation-summary-errors").empty();
            $('.field-validation-error').empty();


            if (id > 0) {
                var fname = _self.data('employee').fname;
                var lname = _self.data('employee').lname;
                var phone = _self.data('employee').phone;
                var email = _self.data('employee').email;
                var saudi = _self.data('employee').saudi;
                var position = _self.data('employee').position;
                $("#fname").val(fname);
                $("#lname").val(lname);
                $("#phone").val(phone);
                $("#email").val(email);
                if (saudi == "True") {
                    $("#Employee_IsSaudiNational").prop('checked', true);
                }
                else{
                    $("#Employee_IsSaudiNational").prop('checked', false);
                }
                $("#position").val(position);
                document.querySelector(".modal-title").innerHTML = "Edit Details";
                document.getElementById("delete").style.visibility = "visible";



            } else {
                $("#id").val(0);
                $("#fname").val('');
                $("#lname").val('');
                $("#phone").val('');
                $("#email").val('');
                $("#Employee_IsSaudiNational").prop('checked', false);
                $("#position").val('');

                document.querySelector(".modal-title").innerHTML = "New Employee";
                document.getElementById("delete").style.visibility = "hidden";

            }

            $(_self.attr('href')).modal('show');
        });
    </script>
}
<nav aria-label="breadcrumb w-100">
    <ol class="breadcrumb row rounded-0 ">
        <li class="breadcrumb-item"><a asp-page="/Index">My Businesses</a></li>
        <li class="breadcrumb-item"><a asp-page="/Business/BusinessHome" asp-route-id="@Model.viewContent.BusnissId">@Model.viewContent.BusinessName</a></li>
        <li class="breadcrumb-item"><a asp-page="/Business/BranchHome" asp-route-id="@Model.viewContent.BranchId">@Model.viewContent.BranchName</a></li>
        <li class="breadcrumb-item active">Employees</li>
    </ol>
</nav>
<div class="row justify-content-center">
    <div class=" rounded bg-light w-100">
        <div class="col text-center">
            <h1 class="display-4">
                Employees            <a data-employee='{"id":"","fname":"","lname":"","phone":"","email":"","position":"","saudi":""}' title="Add New Employee" class="Open-Employee-Dialog btn btn-light text-success align-bottom" style="cursor:pointer;" href="#EmployeeModal">New&nbsp;<span class="oi oi-plus" title="Add New Document" aria-hidden="true"></span></a>
            </h1>
        </div>

    </div>
</div>

<!--Add Employees-->
<div class="row card-columns justify-content-center  mt-3">


    @if (Model.employees != null)
    {
        foreach (var employee in Model.employees)
        {
            <div class="card text-center shadow  animate-blow " style="width: 16.85rem;">
                <a asp-page="/Business/EmployeeItems" asp-route-id="@employee.Id" class="btn" title="Documents">

                    <img class="card-img-top img-fluid rounded-10" src="~/media/img_357118.png" alt="Card image cap" style="height:200px;width:200px;">

                    <div class="card-body">
                        <h5 class="card-title">@employee.FirstName&nbsp;@employee.LastName</h5>
                        <p class="card-text">@employee.Position</p>
                    </div>
                </a>

                <a data-employee='{"id":"@employee.Id","fname":"@employee.FirstName","lname":"@employee.LastName","phone":"@employee.ContactNumber","email":"@employee.Email","position":"@employee.Position","saudi":"@employee.IsSaudiNational"}' title="Edit" class="Open-Employee-Dialog btn card-text" style="cursor:pointer;" href="#EmployeeModal"><span class="oi oi-pencil"></span></a>
            </div>

        }
    }

</div>
<!--Add Employee Item-->
<!-- Modal Form-->
<div class="modal fade" id="EmployeeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title display-5" id="myModalLabel"></div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <input type="hidden" asp-for="Employee.Id" id="id" />
                        <div class="form-group  col-md-6">
                            <label asp-for="Employee.FirstName"></label>
                            <input asp-for="Employee.FirstName" id="fname" class="form-control" />
                            <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group  col-md-6">
                            <label asp-for="Employee.LastName"></label>
                            <input asp-for="Employee.LastName" id="lname" class="form-control" />
                            <span asp-validation-for="Employee.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Employee.Position"></label>
                            <input asp-for="Employee.Position" id="position" class="form-control" />
                            <span asp-validation-for="Employee.Position" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="Employee.ContactNumber"></label>
                            <input asp-for="Employee.ContactNumber" id="phone" class="form-control" />
                            <span asp-validation-for="Employee.ContactNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Employee.Email"></label>
                            <input asp-for="Employee.Email" id="email" class="form-control" />
                            <span asp-validation-for="Employee.Email" class="text-danger"></span>
                        </div>
                    </div>
      
                    <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Employee.IsSaudiNational">
                                    <input asp-for="Employee.IsSaudiNational" />
                                    @Html.DisplayNameFor(m => m.Employee.IsSaudiNational)
                                </label>
                            </div>
                    </div>
                </div>
                    <div class="modal-footer">

                        <div class="form-group pt-2">
                            <button type="submit" class="btn btn-primary rounded-10 shadow ">Save &nbsp;<span class="oi oi-check"></span></button>
                            <button id="delete" onclick="return confirm('Confirm Delete?')" type="submit" asp-page-handler="Delete" class="btn btn-danger rounded-10 shadow">Delete&nbsp;<span class="oi oi-trash"></span></button> <!--OnPostDelete is consumed by asp-page-handler "Its Case sensitive" -->
                        </div>
                    </div>
                </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
