@page "{id?}"

@model BranchHomeModel
    <!--Section 1-->
    <nav aria-label="breadcrumb w-100">
        <ol class="breadcrumb row rounded-0 ">
            <li class="breadcrumb-item"><a asp-page="/Index">My Businesses</a></li>
            <li class="breadcrumb-item"><a asp-page="BusinessHome" asp-route-id="@Model.viewContent.BusnissId">@Model.viewContent.BusinessName</a></li>
            <li class="breadcrumb-item active">@Model.viewContent.BranchName</li>
        </ol>
    </nav>
    <div class="row justify-content-center">
        <div class="card rounded-0 shadow w-100">
            <div class="card-body col text-center">
                <h1 class="display-4">@Model.viewContent.BranchName</h1>
            </div>

        </div>
    </div>

    <br />
    <div class="row justify-content-between ">
        <div class="card w-49 shadow rounded-10 ">
            <a asp-page="Employees" asp-route-id="@Model.viewContent.BranchId" class="btn">
                <img class="card-img-top" src="~/media/employee.png" style="height:200px;width:200px;" />

                <div class="row no-gutters">
                    <div class="col ">
                        <div class="card-block px-2">
                            <h1>الموظفين</h1>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card w-49 shadow rounded-10">
            <a asp-page="BranchItems" asp-route-id="@Model.viewContent.BranchId" class="btn">
                <img class="card-img-top img-fluid" src="~/media/store.png" style="height:200px;width:200px;" />
                <div class="row no-gutters">
                    <div class="col ">
                        <div class="card-block px-2">
                            <h1>الفرع</h1>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
        