@page "{id?}"
@model BusinessHomeModel
@section Scripts{ 
    <script type="text/javascript">

        $(document).ready(function () {
            if ($('.field-validation-error').length || $('.validation-summary-errors').length) {
                $('#BranchModal').modal('show');
                var _self = $(this);
                var id = _self.data('branch').id;
                if (id > 0) {
                    document.querySelector(".modal-title").innerHTML = "Edit Details";
                } else {
                    document.querySelector(".modal-title").innerHTML = "New Business";
                }
            }
        });

        $(document).on("click", ".Open-Branch-Dialog", function (e) {
            e.preventDefault();
            var _self = $(this);
            var id = _self.data('branch').id;
            $(".validation-summary-errors").empty();
            $('.field-validation-error').empty();
           

            if (id>0) {
                var location = _self.data('branch').location;
                var name = _self.data('branch').name;
                $("#id").val(id);
                $("#name").val(name);
                $("#location").val(location);
                document.querySelector(".modal-title").innerHTML = "Edit Branch";
            } else {
                $("#id").val(0);
                $("#name").val('');
                $("#location").val('');
                document.querySelector(".modal-title").innerHTML = "New Branch";
            }

            $(_self.attr('href')).modal('show');
        });
    </script>
}
    <!--Section 1-->
    <nav aria-label="breadcrumb w-100">
        <ol class="breadcrumb row ">
            <li class="breadcrumb-item"><a asp-page="/Index">My Businesses</a></li>
            <li class="breadcrumb-item active">@Model.currentBusiness</li>
        </ol>
    </nav>
    <div class="row justify-content-center">
        <div class="card rounded-0 shadow w-100">
            <div class="col text-center">
                <h1 class="display-4">@Model.currentBusiness</h1>
            </div>
            <a data-branch='{"id":"","name":"","location":""}' title="Add this item" class="Open-Branch-Dialog btn btn-light rounded-0 align-bottom w-100" style="cursor:pointer;" href="#BranchModal">Add New</a>
        </div>
    </div>

    <br />
    <!--Businesses List-->
    <div class="row justify-content-between ">
        @if (Model.branches != null)
            foreach (var branch in Model.branches)
            {
        <div class="card w-49 shadow rounded-10 ">
            <a asp-page="BranchHome" asp-route-id="@branch.Id" class="btn">

                <div class="row no-gutters">
                    <div class="col">
                        <div class="card-block px-2">
                            <h1>@branch.Name</h1>
                            <h1>@branch.Location</h1>
                        </div>
                    </div>
                </div>
            </a>

            <a data-branch='{"id":"@branch.Id","name":"@branch.Name","location":"@branch.Location"}' title="Add this item" class="Open-Branch-Dialog btn btn-light rounded-0 align-bottom w-100" style="cursor:pointer;" href="#BranchModal">Edit</a>
        </div>
            }
    </div>
    <br />
    <!--Businesses List End-->
    <!--Section 2-->
    <div class="row justify-content-center">
        <div class="card rounded-top shadow w-100">
            <div class="card-header border-bottom-0 display-5 text-center"> Upcoming Dates </div>
            <div class="card-body">
                <table class="table  table-borderless">
                    <tbody>
                        <tr class="border-bottom">
                            <td>Mark</td>
                            <td>Otto</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Jacob</td>
                            <td>Thornton</td>
                        </tr>
                        <tr class="border-bottom">
                            <td>Larry</td>
                            <td>the Bird</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br />
    <!--End Section 2-->

    <div class="modal fade" id="BranchModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" enctype="multipart/form-data">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title display-5" id="myModalLabel"></div>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Branch.Id" id="id" value="0" />

                        <h1 id="id"></h1>
                        <div class="form-group">
                            <label asp-for="Branch.Name"></label>
                            <input asp-for="Branch.Name" id="name" value="" class="form-control" />
                            <span asp-validation-for="Branch.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Branch.Location"></label>
                            <input asp-for="Branch.Location" id="location" value="" class="form-control" />
                            <span asp-validation-for="Branch.Location" class="text-danger"></span>
                        </div>


                    </div>
                    <div class="modal-footer">

                        <div class="form-group pt-2  ">
                            <button type="submit" class="btn btn-primary rounded-0 shadow ">Save changes</button>

                            <button type="button" class="btn btn-danger  rounded-0 shadow" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </form>
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->