@page
@model IndexModel
@section scripts {
    <script type="text/javascript">
        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $(document).ready(function () {
            if ($('.field-validation-error').length || $('.validation-summary-errors').length) {
                $('#BusinessModal').modal('show');
                var _self = $(this);
                var id = _self.data('business').id;               
                if (id > 0) {
                    document.querySelector(".modal-title").innerHTML = "Edit Details";
                } else {
                    document.querySelector(".modal-title").innerHTML = "New Business";
                }
            }
        });

        $(document).on("click", ".Open-Business-Dialog", function (e) {
            e.preventDefault();
            var _self = $(this);
            var id = _self.data('business').id;

            $(".validation-summary-errors").empty();
            $('.field-validation-error').empty();


            if (id > 0) {
                var name = _self.data('business').name;
                var activity = _self.data('business').activity;
                $("#id").val(id);
                $("#name").val(name);
                $("#activity").val(activity);
                document.querySelector(".modal-title").innerHTML = "Edit Details";
            } else {
                $("#id").val(0);
                $("#name").val('');
                $("#activity").val('');
                document.querySelector(".modal-title").innerHTML = "New Business";
            }

            $(_self.attr('href')).modal('show');
        });
    </script>
}
@{
    ViewData["Title"] = "Home";
}

<!--Section 1-->
<div class="row justify-content-center">
    <div class="card rounded-10 shadow w-100">
        <div class="col text-center">
            <h1 class="display-4">
                My Businesses         <a data-business='{"id":"","name":"","activity":""}' title="Add this item" class="Open-Business-Dialog btn text-success"  style="cursor:pointer;" href="#BusinessModal"><span class="oi oi-plus"></span></a>
            </h1>
        </div>
    </div>
</div>
<br />
<!--End Section 1-->
<!--Businesses List-->
<div class="row justify-content-between ">
    @if (Model.businesses != null)
        @foreach (var b in Model.businesses)
        {
    <div class="card w-49 shadow rounded-10">
        <a asp-page="BusinessHome" asp-route-id="@b.Id" class="btn">

            <div class="row no-gutters">

                <div class="col-auto">
                    @if (b.GetInlineImageSrc() != null)
                    {
                        <img src="@b.GetInlineImageSrc()" class="img-fluid" style="height:200px;width:200px;" />
                    }
                    else
                    {
                        <img src="~/media/img_placeholder.png" class="img-fluid" style="height:200px;width:200px;" />
                    }
                </div>
                <div class="col pt-5">
                    <div class="card-block px-2">
                        <h4 class="card-title text-center">@b.Name</h4>
                        <p class="card-text text-center">@b.ActivityField</p>
                    </div>
                </div>
            </div>
        </a>

        <a data-business='{"id":"@b.Id","name":"@b.Name","activity":"@b.ActivityField"}' title="Add this item" class="Open-Business-Dialog bg-primary btn rounded-0 text-light" style="cursor:pointer;" href="#BusinessModal"><span class="oi oi-pencil"></span></a>
    </div>
        }
</div>
<br />
<!--Businesses List End-->
<!--Section 2-->
<div class="row justify-content-center">
    <div class="card rounded-top shadow w-100">
        <div class="card-header border-bottom-0 display-5 text-center"> Upcoming Dates </div>
        <div class="card-body">
            <table class="table  table-borderless">
                <tbody>
                    <tr class="border-bottom">
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr class="border-bottom">
                        <td>Larry</td>
                        <td>the Bird</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<!--End Section 2-->
<!-- Modal Form-->
<div class="modal fade" id="BusinessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title display-5" id="myModalLabel">@TempData["Temp"]</div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    @*<input type="text" name="bookId" id="id" value="" />*@
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Business.Id" id="id" value="0" />
                    <div class="form-group">
                        <label asp-for="Business.Name"></label>
                        <input asp-for="Business.Name" id="name" class="form-control" />
                        <span asp-validation-for="Business.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Business.ActivityField"></label>
                        <input asp-for="Business.ActivityField" id="activity" class="form-control" />
                        <span asp-validation-for="Business.ActivityField" class="text-danger"></span>
                    </div>

                    <div class="form-group border-0">
                        <div class="custom-file mb-3">
                            <input type="file" asp-for="Image" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose Logo</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <div class="form-group pt-2  ">
                        <button type="submit" class="btn btn-primary rounded-10 shadow ">Save changes</button>
                       
                        <button type="button" class="btn btn-danger  rounded-10 shadow" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
